[submodule "true-programmers-qwerty"]
	path = true-programmers-qwerty
	url = git@github.com:shakesbeare/true-programmers-qwerty.git
[submodule "nvim_config"]
	path = nvim_config
	url = git@github.com:shakesbeare/nvim_config.git
